---
layout: post
title: CMS
permalink: /cms/
hide_title: true
exclude_from_search: true
---

<script type="text/javascript">

    function checkCategories(val) {
        var values = $("#content-categories").val();
        var element = document.getElementById('content-new-categories');
        // check if values is null
        if (values == null)
            values = [];
        if (values.includes('new'))
            element.style.display = 'block';
        else
            element.style.display = 'none';
    };
</script>


<center>
    <h1>CMS</h1>
</center>
<hr />
<br />
<form id="cms-form" action="https://cms.brian.abelson.live/post" method="post" enctype="multipart/form-data">
    <label for="title">Title:</label>
    <input id="content-title" type="text" name="title" required><br>
    <label for="summary">Summary:</label><br>
    <input id="content-summary" type="text" name="summary"><br>
    <label for="categories">Categories:</label><br>
    <select id="content-categories" name="categories" onclick='checkCategories();' multiple="multiple">
        {% assign cat_array = site.categories | sort %}
        {% for category in cat_array %}
        <option value="{{ category | first }}"> {{ category | first }} </option>
        {% endfor %}
        <option value="new">new</option>
    </select>
    <input type="text" id="content-new-categories" name="new_categories" style='display:none;'/><br>
    <label for="content">Content:</label><br>
    <textarea id="content-input" name="content"></textarea><br>
    <label for="image">Images: </label><input type="file" id="content-images" name="image"><br>
    <label for="video">Video: </label><input type="file" id="content-videos" name="video"><br>
    <label for="audio">Audio: </label><input type="file" id="content-audios" name="audio"><br>
    <label for="published">Published: </label>
    <select id="content-published" name="published">
        <option selected="selected" value="true">True</option>
        <option value="false">False</option>
    </select><br>
    <label for="apikey">API Key:</label>
    <input type="text" id="content-apikey" name="apikey" required>
    <input id="content-site-url" type="hidden" name="site_url" value="{{ site.url }}">
    <center><input id="content-submit" type="submit" value="Post"></center>
    <center><div id="submit-response"></div></center>
</form>
