---
layout: default
title: Log
exclude_from_search: true
---

<section class="content posts">
    {% for post in paginator.posts %}
    <div class='article-container'>
    <div class='article-container-3'>
    <div class='article-container-2'>
    <div class='article-container-1'>
    <article class='article-content'>
        <header class='article-header'>
            <h1 class="post-title">
                <a href="{{ post.url }}">{{ post.title }}</a>
            </h1>
            <div class="meta">
                <div class="meta-data">{{post.date | date: "%d.%m.%y" }}</div>
                <div class="meta-categories">
                    {% for cat in post.categories %}
                    <a class='meta-category' href="{{site.baseurl}}/category/{{cat}}">{{cat}}</a>{% if forloop.last == false %} / {% endif %} 
                    {% endfor %}
                </div>
            </div>
        </header>
        {% if post.image %}
        {% if post.image_link %}
        <center>
            <a href="{{ post.image_link }}" target="_blank">
                <img class="post-image" src="{{ post.image }}" alt="{{ post.title }}" width="90%"/>
            </a>
        </center>
        {% else %}
        <center>
            <img class="post-image" src="{{ post.image }}" alt="{{ post.title }}" width="90%"/>
        </center>
        {% endif %}
        {% endif %}
        <div class="body">
            {{ post.content }} 
        </div>
        {% if post.video %}
        <center>
        <video class="post-video" autoplay loop muted controls>
            <source src="{{ post.video }}" type="video/mp4">
        </video>
        </center>
        {% endif %}
        {% if post.link_count > 0 %}
        <hr/>
        <div class="links-container">
            <h4>Links in this post:</h3>
            <ul>
                {% for link in post.links %}
                <li class="link-title">"{{link.title}}": <a class="link-href" href="{{link.cleaner_href}}">{{link.cleaner_href}}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </article>
    </div>
    </div>
    </div>
    </div>
    {% endfor %}
</section>
<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination-container">
    <div class="pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; prev</a> |
    {% else %}
        <span>&laquo; prev</span> |
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <span>{{ page }}</span> |
        {% elsif page == 1 %}
        <a href="{{ '/' | relative_url }}">{{ page }}</a> |
        {% else %}
        <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a> |
        {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}">next &raquo;</a>
    {% else %}
        <span>next &raquo;</span>
    {% endif %}
    </div>
</div>
{% endif %}