---
layout: post
title: Links
permalink: /links/
hide_title: true
---

<center>
    <a href="https://instagram.com/{{site.data.links.instagram}}" target="_blank"><img style="width: 42%; height: 42%; object-fit: contain; border-radius: 50%;" src="{{site.data.links.avatar}}" alt="Brian Abelson's Headshot"></a>
    <br/>
    <a href="https://instagram.com/{{site.data.links.instagram}}" target="_blank">@{{site.data.links.instagram}}</a>
    <br/>
    <i class="links-bio">{{site.data.links.bio}}</i>
    <br/>
    <hr></hr>
    <div class="links-list">
        {% for hl_thing in site.data.links.headline %}
        <a class="links-list-link" href="{{hl_thing.url}}" target="_blank"><div class="links-list-item links-list-item-headline">{{hl_thing.title}}</div></a>
        {% endfor %}
        {% for thing in site.data.links.links %}
        <a class="links-list-link" href="{{ thing.url }}" target="_blank"><div class="links-list-item">{{ thing.title }}</div></a>
        {% endfor %}
    </div>
</center>

