---
layout: post
title: Sample Packs
permalink: /samples/
hide_title: true
---
<div class="work-refresh-button"><img class="work-refresh-button-img" src="/assets/img/reload.png" width="40px"></img></div>
<h1>Free Sample Packs</h1>
<table class="work-table">
    <tbody>
        {% for pack in site.data.samples %}
        {% assign tag_list = pack.tags | join: ' ' %}
        <tr class="work-row {{tag_list}} active">
            <a href="{{ pack.url }}" target="_blank" class="work-row-link">
                <td class="work-row-text-mid work-row-url-included"  data-url="{{ pack.url }}">
                    {{ pack.title }}
                </td>
                <td class="work-row-text-long work-row-url-included"  data-url="{{ pack.url }}">
                    {{ pack.description }}
                </td>
            </a>
            <td class="work-row-tags">
                {% for t in pack.tags %}
                <span class="work-tag">{{ t }}</span><br/>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
