---
# Feel free to add content and custom Front Matter to this file.
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: post
title: Work
permalink: /work/
hide_title: true
---
<div class="work-refresh-button"><img class="work-refresh-button-img" src="/assets/img/reload.png" width="40px"></img></div>
<table class="work-table">
    <tbody>
        {% assign sorted_things = site.data.work | sort: 'date' | reverse %}
        {% for thing in sorted_things %}
        {% assign tag_list = thing.tags | join: ' ' %}
        <tr class="work-row {{tag_list}} active">
            <a href="{{ thing.url }}" target="_blank" class="work-row-link">
                <td class="work-row-text-long work-row-url-included"  data-url="{{ thing.url }}">
                    {{ thing.title }}
                </td>
                <td class="work-row-text-mid work-row-url-included"  data-url="{{ thing.url }}">
                    {{ thing.with }}
                </td>
                <td class="work-row-date work-row-url-included" data-url="{{ thing.url }}">
                    {{ thing.date }}
                </td>
            </a>
            <td class="work-row-tags">
                {% for t in thing.tags %}
                <span class="work-tag">{{ t }}</span><br/>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
