<div class="header-search">
        <form class="header-search-form" action="/search/" method="get">
                <input width="90%" type="text" id="search-box" name="query">
                <input type="submit" value="search">
        </form>
</div>