@import "highlight.css";

html {
    font-family: "Trebuchet MS", Helvetica, serif;
    font-style: normal;
    font-weight: 400;
    color: white;
    font-size: 24px;
    line-height: 1.33;
    background-color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}


body {
    width: 100%;
    height: 100%;
}


a {
    color: white;
}

/* ul {
    list-style-image: url('/assets/img/spiral-white.png');

} */


/* Nav */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}


nav.menu {
    text-align: center;
    color: white;
    padding: 5px;
}

nav.menu>a {
    text-decoration: none;
}

nav.menu>a:hover {
    text-decoration: underline;
}


nav.menu>a.active {
    text-decoration: underline;
}

.nav-emoji {
    font-size: 14px;
}

/* Post Container  */
section.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

div.article-container {
    width: 77%;
    margin-right: 15px;
}

code {
    display: block;
    padding: 10px;
    overflow: auto;

}

@media screen and (max-width: 1000px) {
    div.article-container {
        width: 75%;
    }

    td.work-row-tags {
        display: none;
    }

    div.work-refresh-button {
        display: none;
    }

    html {
        font-size: 22px;
    }
}

@media screen and (max-width: 850px) {
    div.article-container {
        width: 80%;
    }

    td.work-row-tags {
        display: none;
    }

    td.work-row-text-mid {
        display: none;
    }

    html {
        font-size: 22px;
    }
}

@media screen and (max-width: 700px) {
    div.article-container {
        width: 85%;
    }

    td.work-row-text-mid {
        display: none;
    }

    td.work-row-tags {
        display: none;
    }

    html {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    div.article-container {
        width: 90%;
    }

    td.work-row-text-mid {
        display: none;
    }

    td.work-row-tags {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    div.article-container {
        width: 95%;
    }

    article.article-content {
        color: white;
        /* border-style: ridge; */
        padding: 5px;
    }


    td.work-row-text-mid {
        display: none;
    }

    td.work-row-tags {
        display: none;
    }

    .article-nav {
        font-size: 14px;

    }

}

@media screen and (max-width: 400px) {
    .nav-container {
        font-size: 15px;
    }
    div.article-container {
        width: 97%;
    }

}


div.article-container-3 {
    color: white;
    border-style: double;
    padding: 4px;
}

div.article-container-2 {
    color: white;
    border-style: dotted;
    padding: 4px;
}

div.article-container-1 {
    color: white;
    border-style: ridge;
    padding: 4px;
}

/* Feederss Links */
a.feederss-link {
    color: white;
    text-decoration: none;
}
a.feederss-link:hover {
    text-decoration: underline;
}

ul.feederss-list {
    list-style-type: none;
}

ul.feederss-list li {
    margin-left: 0;
    padding: 3px;

}

/* Post Title + Content */

.article-header {
    padding-bottom: 10px;
}

article.article-content {
    color: white;
    /* border-style: ridge; */
    font-size: 21px;
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

img.post-image {
    width: 75%;
}

video.post-video {
    width: 75%;
}

h1.post-title {
    font-size: 21px;
}

figcaption {
    text-align: center;
    font-size: 16px;
}

.article-nav {
    display: flexbox;
    padding: 5px;
    font-size: 18px;

}

.article-prev {
    float: left;
    text-align: left;
}

.article-next {
    text-align: right;
}

.article-content > video {
    width: 75%;
}

/* Pagination */

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.pagination {
    text-align: center;
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 5px;
}

.pagination>a {
    text-decoration: none;
}

/* Work Section */

table.work-table {
    position: relative;
    width: 100%;
}

.work-row:hover {
    cursor: pointer;
}

.work-row td > a {
    color: white;
    text-decoration: none;
    display: block;
}

.work-row td {
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 5px;
}

.work-row td a:hover {
    color: #E07A0B;
}

.work-row-date {
    text-align: right;
    min-width: 40px;
}

.work-row-text-long {
    text-align: left;
    min-width: 200px;
    max-width: 400px;
    padding-right: 5px;
}

.work-row-text-mid {
    text-align: left;
    max-width: 200px;
}

.work-row-text-short {
    text-align: left;
    max-width: 40px;
}

.work-row-tags {
    padding-left: 1.25em;
    text-align: right;
    vertical-align: top;
}

.work-tag {
    z-index: 9999;
    color: white
}


.work-refresh-button {
    float: right;

}

.work-refresh-button-img:hover {
    opacity: 50%;
    cursor: pointer;
}

/* links on this page */

.links-container {
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 16px;
}


/* social media links */

.links-list {
    display: flex;
    flex-direction: column;
}

.links-list-item {
    padding: 15px 25px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: rgb(29, 0, 37);
    border: none;
    border-radius: 15px;
    text-decoration: none;
}

.links-list-item:hover {
    background-color: rgb(141, 6, 178);
    text-decoration: none;
}

.links-list-link > a {
    text-decoration: none;
    color: white;
}

.links-bio {
    font-size: 14px;
}


.links-list-item:active {
    background-color: rgb(141, 6, 178);
    transform: translateY(4px);
}

.links-list-item-headline {
    background-color: rgb(65, 2, 82);
}

.links-list-item-headline:hover {
    background-color: rgb(177, 7, 224);
}

.links-list-item-headline:active {
    background-color: rgb(177, 7, 224);
    transform: translateY(4px);
}

/* subscription form */

.subscribe-form {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.subscribe-form-input {
    margin-left: 1em;
    margin-top: 0.55em;
    padding: 5px 15px;
    border-color: white;
    border-radius: 1px;
}

.subscribe-form-button {
    background-color: rgb(177, 7, 224);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    border-color: white;
    border-radius: 1px;
}

.subscribe-form-button:hover {
    background-color: black;
}

.subscribe-form-button:active {
    transform: translateY(-1px);
}


/* SEARCH */

.header-search {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

#search-box {
    width: 150px;
}

/* CMS */
#content-title {
    width: 100%;
    height: 20px;
}
#content-summary {
    width: 100%;
    height: 20px;
}
#content-input {
    width: 100%;
    height: 150px;
}

#content-submit {
    padding: 15px 25px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
}