---
layout: default
---
<section class='content'>
    <div class='article-container'>
        <div class='article-container-3'>
            <div class='article-container-2'>
                <div class='article-container-1'>
                    <article class='article-content'>
                        <header class='article-header'>
                            {% if page.hide_title != true %}
                            <h1 class="post-title">
                                <a href="{{ page.url }}">{{ page.title }}</a>
                            </h1>
                            {% endif %}
                            <div class="meta">
                                <div class="meta-data">{{page.date | date: "%d.%m.%y" }}</div>
                                <div class="meta-categories">
                                    {% for cat in page.categories %}
                                    <a class='meta-category' href="{{site.baseurl}}/category/{{cat}}">{{cat}}</a>
                                    {% if forloop.last == false %} / {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </header>
                        {% if page.carousels %}
                        <div class="carousel-container">
                            {% include carousel.html height="100" unit="%" duration="7" number="1" %}
                        </div>
                        {% endif %}
                        {% if page.image %}
                        {% if page.image_link %}
                        <center>
                            <a href="{{ page.image_link }}" target="_blank">
                                <img class="post-image" src="{{ page.image }}" alt="{{ page.title }}" width="90%"/>
                            </a>
                        </center>
                        {% else %}
                        <center>
                            <img class="post-image" src="{{ page.image }}" alt="{{ page.title }}" width="90%"/>
                        </center>
                        {% endif %}
                        {% endif %}
                        <div class="body">
                            {{ content }}
                        </div>
                        {% if page.video %}
                        <center>
                        <video width="75%" class="post-video" autoplay loop muted controls>
                            <source src="{{ page.video }}" type="video/mp4">
                        </video>
                        </center>
                        {% endif %}
                        {% if page.mix.url %}
                        <div class="mix-container">
                            {% include mix.html %}
                        </div>
                        {% endif %}
                        {% if page.link_count > 0 %}
                        <hr/>
                        <div class="links-container">
                            <h4>Links in this post:</h4>
                            <ul>
                                {% for link in page.links %}
                                <li>"{{link.title}}": <a href="{{link.cleaner_href}}">{{link.cleaner_href}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </article>
                    <div class="article-nav">
                        <div class="article-prev">
                            {% if page.previous.url %}
                            <a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
                            <br/>
                            {% else %}
                            <br/>
                            {% endif %}
                        </div>
                        <div class="article-next">
                            {% if page.next.url %}
                            <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
                            <br/>
                            {% else %}
                            <br/>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>